/*Seletor Universal 

* {
    margin: 0;
    padding: 0;
}

*/


/*Seletor por Tag 

h1 {
    color: blue;
    font-size: 50px;
}

p {
    color: green;
    font-size: 16px;
}
*/


/*seletor por atributo

input[type="text"] {
    width: 200px;
    background-color: gainsboro;
    height: 40px;
    border: none;
}

input[type="email"] {
    width: 200px;
    background-color: gainsboro;
    height: 40px;
    border: none;
}

input[type="submit"] {
    width: 50px;
    height: 30px;
    background-color: blue;
    border: none;
    cursor: pointer;
    color: yellowgreen;
}

*/


/* AULA 01
h1 {
    color: yellow;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
*/


/*Aula de Agrupamento de seletores

h1,
h2,
p {
    color: red;
    text-align: center;
}
*/


/*estilizando pela class 

.texto-principal {
    color: red;
    text-align: center;
}


.fundo-principal {
    background-color: green;
    padding: 20px;
}

*/


/*estilizando pelo id 

#conteudo {
    background-color: blue;
    padding: 20px;
    color: yellow;
}

*/


/*aprendendo a mexer com dimensão*/

#conteudo {
    min-width: 500px;
    max-height: 200px;
    background-color: green;
    color: yellow;
    padding: 20px;
}