/*Seletor Universal 

* {
    margin: 0;
    padding: 0;
}

*/


/*Seletor por Tag 

h1 {
    color: blue;
    font-size: 50px;
}

p {
    color: green;
    font-size: 16px;
}
*/


/*seletor por atributo

input[type="text"] {
    width: 200px;
    background-color: gainsboro;
    height: 40px;
    border: none;
}

input[type="email"] {
    width: 200px;
    background-color: gainsboro;
    height: 40px;
    border: none;
}

input[type="submit"] {
    width: 50px;
    height: 30px;
    background-color: blue;
    border: none;
    cursor: pointer;
    color: yellowgreen;
}

*/


/* AULA 01
h1 {
    color: yellow;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
*/


/*Aula de Agrupamento de seletores

h1,
h2,
p {
    color: red;
    text-align: center;
}
*/


/*estilizando pela class 

.texto-principal {
    color: red;
    text-align: center;
}


.fundo-principal {
    background-color: green;
    padding: 20px;
}

*/


/*estilizando pelo id 

#conteudo {
    background-color: blue;
    padding: 20px;
    color: yellow;
}

*/


/*aprendendo a mexer com dimensão

#conteudo {
    min-width: 500px;
    max-height: 200px;
    background-color: green;
    color: yellow;
    padding: 20px;
}

*/


/*Aprendo a mexer com Padding e Margin

#exemplo {
    background-color: blue;
    color: yellow;
    width: 500px;
    padding: 10px 20px 30px 20px;
}

#exemplo2 {
    background-color: red;
    color: white;
    width: 500px;
    margin: 30px 0px 0px 20px;
}

*/


/* Aprendo a estilizar texto 

p {
    color: red;
    text-transform: initial;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    direction: ltr;
    letter-spacing: 5px;
    word-spacing: 10px;
}

h1 {
    text-align: left;
    text-decoration: underline;
    text-shadow: 3px 3px 4px red;
}

h2 {
    text-align: right;
    text-decoration: overline;
}

h3 {
    text-align: center;
    text-decoration: line-through;
}

*/


/*Aprendendo a mexer com Box-sizing e Box-shadow

* {
    box-sizing: border-box;
}

#conteudo {
    background-color: red;
    width: 300px;
    padding: 20px;
    box-shadow: 10px 10px 5px green;
}

*/


/* Aprendendo a mexer co Overflow e Opacity

#conteudo {
    background-color: red;
    width: 200px;
    height: 50px;
    overflow: auto
}

#conteudo p{
    opacity: 1
}
*/


/*Aprendo a redontadar a bordar

#bloco {
    background-color: green;
    width: 300px;
    height: 150px;
    border-top-right-radius: 20px
}

*/